# Prerequisites
*.d

# directory
build
models/facebox
models/mobileface
models/mobileface_1
models/mobileface_2
models/ms1mv3
models/scrfd
models/tencent_1
models/tencent_2
facelib/*.jpg
.idea

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
